node_modules/
.expo/
.expo-shared/
web-build/
android/
ios/
dist/
build/
*.log
npm-debug.*
*.jks
*.p8
*.p12
*.keystore
*.key
*.mobileprovision
*.orig.*
.DS_Store
Thumbs.db
.env
.env.*
media/stickers/**
*.apk
*.aab
*.ipa
*.zip

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

